.card:hover {
  transform: scale(1.08);
}

.card {
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.card.selected {
  transform: scale(1.05);
  border-bottom: 4px solid #000;
}

.card.bg-blue-100.selected {
  border-color: blue;
}

.card.bg-green-100.selected {
  border-color: #008000;
}

.card.bg-red-100.selected {
  border-color: #ff0000;
}

.card.bg-yellow-100.selected {
  border-color: #ffff00;
}

.card.bg-gray-100.selected {
  border-color: #808080;
}

.card.bg-purple-100.selected {
  border-color: #800080;
}

.card.bg-orange-100.selected {
  border-color: #ffa500;
}

.card.bg-pink-100.selected {
  border-color: #ffc0cb;
}

.card.bg-black-100.selected {
  border-color: #000000;
}

.card-width {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  flex: 0 0 250px;
}

.chart-container {
  height: 100%;
  overflow: scroll;
}
.chart-container-pie {
  height: 2%;
}

.chart-container canvas {
  width: 90%;
  height: 90%;
}

.badge-primary {
  background-color: #007bff; /* couleur de fond par défaut */
  color: white; /* couleur du texte */
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 200px;
}

.badge-primary.selected {
  background-color: #0056b3; /* couleur de fond lorsque sélectionné */
  /* Vous pouvez ajouter d'autres styles spécifiques pour l'état sélectionné */
}
