.card:hover {
  transform: scale(1.08);
}

.card {
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.card.selected {
  transform: scale(1.05);
  border-bottom: 4px solid #000;
}

.card.bg-blue-100.selected {
  border-color: rgb(1, 0, 7);
}

.number {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

/* @keyframes blink {
  
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
} */

.card.bg-orange-100.selected {
  border-color: #ffa500;
}

.card.bg-pink-100.selected {
  border-color: #ffc0cb;
}

.card.bg-black-100.selected {
  border-color: #000000;
}

.card-width {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  flex: 0 0 250px;
}

.chart-container {
  height: 100%;
  overflow: scroll;
}
.chart-container-pie {
  height: 2%;
}

.chart-container canvas {
  width: 90%;
  height: 90%;
}

.badge-primary {
  background-color: #000000; /* couleur de fond par défaut */
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 200px;
  font-size: 10px; /* Diminue la taille du texte */
}

.badge-primary.selected {
  background-color: #0056b3; /* couleur de fond lorsque sélectionné */
  /* Vous pouvez ajouter d'autres styles spécifiques pour l'état sélectionné */
}
.round-div {
  background-color: #0e0e0d; 
  border-radius: 50%; 
  width: 100px; 
  height: 100px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.number {
  color: white; /* Couleur du texte */
  font-size: 24px; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
}