.active-link {
  color: #FF7900;
  font-weight: bolder;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: -25px;
  /* Ajustez selon vos besoins */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}