<div class="flex flex-col gap-6 w-full h-[100%]">

  <div class="flex justify-between p-2 w-full">
    <h1 class="text-[2rem] ml-4 text-[#FF7900] font-bold">Controles</h1>

    <form class="w-[9%]">
      <span (click)="openModal()" class="p-2 h-9 bg-[#FF663E] cursor-pointer shadow-md shadow-[#242a30] text-[white] text-lg rounded-lg flex justify-center items-center font-bold">
        +Controle</span>
    </form>
  </div>

  <div class="w-[99%] h-[90%] overflow-y-auto m-1">

    <div class="flex flex-col gap-5 p-1">
      @for (ctrl of controles(); track ctrl.id) {
        <div class="shadow-md ring-1 ring-[#FF663E] p-2 shadow-[#242a30] flex justify-between items-center bg-white w-full rounded-xl">
          <h1 class="text-xl font-semibold">{{ctrl.nom}}</h1>
          <div class="w-28 h-3 flex gap-3 justify-center items-center">
            <i (click)="info(ctrl)" class="material-icons cursor-pointer text-yellow-400">info</i>
            <i (click)="editModal(ctrl)"
              class="material-icons cursor-pointer text-green-400">edit</i>
            <i (click)="deleteCtrl(ctrl.id)" class="material-icons cursor-pointer text-red-600">delete</i>
          </div>
        </div>
      }
      @empty {
        <h1 class="text-2xl">Aucun controle trouvé</h1>
      }
    </div>

  </div>


  <!-------------------------------MODAL-------------------------------------->


  <div class="z-50 fixed inset-0 bg-gray-900 bg-opacity-75 flex justify-center items-center"
      style="display: none;" id="controle">

    <form [formGroup]="controle" class="bg-white mt-36 ml-[30rem] w-[50%] h-[58%] flex flex-col gap-4 rounded-[6px] ring-2 ring-[#242a30]">

      <div class="flex justify-between w-full rounded-[6px] h-[15%] bg-[#FF7900]">
        <h1 class="w-[35%] flex justify-center items-center h-12 text-2xl font-semibold text-white">
          {{titre}}
        </h1>
        <span (click)="closeModal()"
          class="cursor-pointer w-[5%] h-[10px] text-white text-[22px] font-normal font-['Inter']">
          X
        </span>
      </div>

      <div class="flex flex-col gap-14 h-[80%]">

        <div class="flex flex-col gap-6 p-3">
          <div class="flex flex-col gap-2">
            <label class="font-normal text-xl font-['Inter']">Nom controle</label>
            <input formControlName="nom"
              class="focus:border-[#FF7900] outline-none w-[100%] p-2 bg-white rounded-[10px] border-2 border-[#FF7900]"
              placeholder="saisir le nom du controle" type="text">
          </div>
          <div class="flex flex-col gap-2">
            <label class="font-normal text-xl font-['Inter']">Code controle</label>
            <input formControlName="code"
              class="focus:border-[#FF7900] outline-none w-[100%] p-2 bg-white rounded-[10px] border-2 border-[#FF7900]"
              placeholder="saisir le code du controle" type="text">
          </div>
        </div>

        <div (click)="addOrUpCtrl()"
          class="cursor-pointer w-[15%] text-center bg-[#FF7900] rounded-[5px] ml-6 h-[12%] text-white text-[25px] font-normal">
            {{btn}}
        </div>
      </div>

    </form>

  </div>



</div>
