<div class="flex flex-col relative gap-4 w-full h-[100%]">

  <div class="flex justify-between">
    <h1 class="text-[2rem] ml-7 text-[#FF7900] font-bold">Pilotage Controle</h1>

    <div class="flex justify-center items-center mt-4">
      <button (click)="openModal()"
        class="bg-[#FF7900] mr-5 cursor-pointer text-lg text-center shadow-md shadow-[#242a30] text-white rounded-lg p-2 font-bold w-full h-10">
        + controle
      </button>
    </div>

  </div>

  <div class="flex flex-col shadow-md shadow-[#242a30] overflow-x-auto h-[91%] p-1">

    <div [formGroup]="select" class="w-full h-[20%] rounded gap-10 flex justify-center items-center">

      <div class="flex gap-4">
        <label class="text-xl">Direction</label>
        <select formControlName="direction_id"
          class="bg-white outline-none p-1 h-7 ring-1 ring-[#FF7900] rounded-xl shadow-md shadow-[#242a30] w-[96%] flex text-center">
          <option value=0>filtrer par direction</option>
          @for (direction of directions(); track direction.id) {
            <option [value]="direction.id">{{direction.libelle}}</option>
          }
        </select>
      </div>

      <div class="flex gap-4">
        <label class="text-xl">Département</label>
        <select formControlName="departement_id"
          class="bg-white outline-none p-1 h-7 ring-1 ring-[#FF7900] rounded-xl shadow-md shadow-[#242a30] w-[96%] flex text-center">
          <option value=0>filtrer par département</option>
          @for (departement of departements(); track departement.id) {
            <option [value]="departement.id">{{departement.libelle}}</option>
          }
        </select>
      </div>

      <div class="flex gap-4">
        <label class="text-xl">Couverture</label>
        <select formControlName="couverture"
          class="bg-white outline-none p-1 h-7 ring-1 ring-[#FF7900] rounded-xl shadow-md shadow-[#242a30] w-[96%] flex text-center">
          <option value=0>filtrer par couverture</option>
          <option value='Exhaustivité'>Exhaustivité</option>
          <option value='Non exhaustivité'>Non exhaustivité</option>
        </select>
      </div>

      <div class="flex gap-4">
        <label class="text-xl">Porteur</label>
        <select formControlName="user_id"
          class="bg-white outline-none p-1 h-7 ring-1 ring-[#FF7900] rounded-xl shadow-md shadow-[#242a30] w-[96%] flex text-center">
          <option value=0>filtrer par porteur</option>
          @for (user of users(); track user.id) {
            <option [value]="user.id">{{user.nom_complet}}</option>
          }
        </select>
      </div>

    </div>

    <div class="container shadow-md shadow-[#242a30] overflow-y-auto h-[100%] p-1">

      <div class="relative shadow-md shadow-[#242a30] overflow-y-auto">

        <table class="scrollable">
          <thead class="text-white bg-[#FF7900]">
            <tr>
              <th class="">
                Direction
              </th>
              <th class="">
                Pole
              </th>
              <th class="">
                Département
              </th>
              <th class="">
                Service concerné
              </th>
              <th class="">
                Activité
              </th>
              <th class="">
                Code
              </th>
              <th class="">
                Nom du contrôle
              </th>
              <th class="">
                Objectif du contrôle
              </th>
              <th class="">
                Risque couvert
              </th>
              <th class="">
                Porteur
              </th>
              <th class="">
                Périodicité
              </th>
              <th class="">
                Couverture
              </th>
              <th class="">
                Preuves demandées
              </th>
              <th class="">
                Fichiers preuves
              </th>
              <th class="">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            @for (data of datas() | direction2:selectedDir |departement2:selectedDept |couverture:selectedCouv |porteur:selectedUser; track data.id) {
              <tr class="bg-white nice h-[10rem]">
                <td class="nice">
                  {{data.direction_id.libelle}}
                </td>
                <td class="nice">
                  {{data.pole_id.libelle}}
                </td>
                <td class="nice">
                  {{data.departement_id.libelle}}
                </td>
                <td class="two">
                  {{data.service_id.libelle}}
                </td>
                <td class="two">
                  {{data.activite_id.libelle}}
                </td>
                <td class="two">
                  {{data.code}}
                </td>
                <td class="">
                  <textarea
                    readonly>{{data.controle_id.nom}}</textarea>
                </td>
                <td class="">
                  <textarea
                    readonly>{{data.objectif}}</textarea>
                </td>
                <td class="">
                  <textarea readonly>{{data.risque_couvert}}</textarea>
                </td>
                <td class="two">
                  {{data.user_id.nom_complet}}
                </td>
                <td class="nice">
                  {{data.periodicite}}
                </td>
                <td class="nice">
                  {{data.exhaustivite}}
                </td>
                <td class="two">
                  {{data.preuve}}
                </td>
                <td class="">
                  <a target="_blank" href="/assets/fichiers/preuve 1.pdf"><i class="material-icons">attach_file</i>{{data.fichier}}</a>
                </td>
                <td class="">
                  <i (click)="info(data)" class="material-icons cursor-pointer text-green-400">info</i>
                  <i (click)="editModal(data)" class="material-icons cursor-pointer text-yellow-600">edit</i>
                  <i (click)="deleteD(data.id)" class="material-icons cursor-pointer text-red-600">delete</i>
                </td>
              </tr>
            }
          </tbody>
        </table>

      </div>

    </div>

  </div>


  <div class="z-50 fixed inset-0 bg-gray-900 bg-opacity-75 flex justify-center items-center"
      style="display: none;" id="modal">
    <div class="mt-20 ml-[24rem] w-[60%] h-[100%] flex flex-col gap-4 rounded-[6px] ring-2 ring-[#242a30]">
      <div class="relative bg-white h-[88%] rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t bg-[#FF7900]">
          <h3 class="text-2xl font-semibold text-white">
            {{title}}
          </h3>
          <button (click)="closeModal()"
            class="text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
            data-modal-toggle="crud-modal">
            <svg class="w-3 h-3" aria-hidden="true" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <form [formGroup]="Data" class="p-4 md:p-5 overflow-y-auto h-[87%]">
          <div class="grid gap-4 mb-4 grid-cols-2">
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom controle</label>
              <select formControlName="controle_id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value=0>choisir une controle</option>
                @for (ctrl of controles(); track ctrl.id) {
                  <option [value]="ctrl.id">{{ctrl.nom}}</option>
                }
              </select>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code controle</label>
              <input type="text" formControlName="code"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="code du controle">
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Objectif</label>
              <textarea formControlName="objectif" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"></textarea>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Risque</label>
              <textarea formControlName="risque_couvert" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"></textarea>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Porteur</label>
              <select formControlName="user_id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value=0>choisir un porteur</option>
                @for (user of users(); track user.id) {
                  <option [value]="user.id">{{user.nom_complet}}</option>
                }
              </select>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Direction</label>
              <select formControlName="direction_id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value=0>choisir une direction</option>
                @for (direction of directions(); track direction.id) {
                  <option [value]="direction.id">{{direction.libelle}}</option>
                }
              </select>
            </div>

            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pole</label>
              <select formControlName="pole_id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value=0>choisir une pole</option>
                @for (pole of poles(); track pole.id) {
                  <option [value]="pole.id">{{pole.libelle}}</option>
                }
              </select>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Département</label>
              <select formControlName="departement_id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value=0>choisir un département</option>
                @for (departement of departements(); track departement.id) {
                  <option [value]="departement.id">{{departement.libelle}}</option>
                }
              </select>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Service</label>
              <select formControlName="service_id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value=0>choisir une service</option>
                @for (service of services(); track service.id) {
                  <option [value]="service.id">{{service.libelle}}</option>
                }
              </select>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Activité</label>
              <select formControlName="activite_id"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value=0>choisir une activité</option>
                @for (activite of activites(); track activite.id) {
                  <option [value]="activite.id">{{activite.libelle}}</option>
                }
              </select>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Périodicité</label>
              <input type="text" formControlName="periodicite"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="entrer la periodicité">
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Couverture</label>
              <select formControlName="exhaustivite"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value=0>choisir une couverture</option>
                <option value='Exhaustivité'>Exhaustivité</option>
                <option value='Non exhaustivité'>Non exhaustivité</option>
              </select>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Preuves demandées</label>
              <input type="text" formControlName="preuve"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="saisir la preuve demandée">
            </div>
            <div class="col-span-2 sm:col-span-1">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fichiers preuves</label>
              <input type="file" formControlName="fichier"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            </div>
          </div>
          <button (click)="addOrUp()"
            class="text-white bg-[#FF7900] inline-flex items-center font-medium rounded-lg text-lg px-5 py-2.5 text-center dark:bg-orange-600 ">
            {{btn}}
          </button>
        </form>
      </div>
    </div>
  </div>


</div>
