
  .sad {
    position: fixed; /* Fixe l'élément par rapport à la fenêtre du navigateur */
    left: 0;        /* Positionne l'élément à gauche de la fenêtre */
    top: 50%;       /* (optionnel) positionne verticalement au centre */
    ; /* (optionnel) pour centrer l'élément verticalement */
  }
  

table {

  width: 140%;
  
}

th,
td {
  border: 1px solid #000;
  padding: 0;
}

th {
  height: 5rem;
}

td>div {
  height: 5rem;
  width: 10rem;
  padding: 7px;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 100%;
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.one {
  color: #FF7900;
  text-decoration: underline;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: -25px;
  /* Ajustez selon vos besoins */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}

.file-container {
  width: 100%;
  max-height: 400px;
  /* Ajustez selon vos besoins */
  overflow-y: auto;
}

.file-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* Espace entre les cartes */
}

.file-card {
  flex: 1 1 calc(33.333% - 10px);
  /* Trois colonnes avec espace entre */
  box-sizing: border-box;
}

.file-link {
  display: block;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}
.file-upload-wrapper {
  position: relative;
  display: inline-block;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload-button {
  position: relative;
  z-index: 1;
}
.file-list {
  list-style-type: none; /* Supprime les puces */
  padding: 0;           /* Supprime le padding */
}

.file-item {
  margin: 5px 0;        /* Ajoute un espace entre les fichiers */
}

.file-link {
  color: #1d4ed8;       /* Couleur pour le lien */
  text-decoration: underline;
  cursor: pointer;      /* Curseur en forme de main sur le lien */
}
