#indic {
    display: block;
    position: fixed; /* Make it fixed to stay in place when scrolling */
    top: 70%; /* Position the top edge at 50% of the viewport height */
    left: 50%; /* Position the left edge at 50% of the viewport width */
    transform: translate(-50%, -50%); /* Shift the element by half its width and height to center it */
    width: 100%; /* Maintain full width */
    height: 100%; /* Maintain full height */
    margin-left: 10px; /* Override any existing margin-left for centering */
  }
  #addindic {
    display: block;
    position: fixed; /* Make it fixed to stay in place when scrolling */
    top: 70%; /* Position the top edge at 50% of the viewport height */
    left: 50%; /* Position the left edge at 50% of the viewport width */
    transform: translate(-50%, -50%); /* Shift the element by half its width and height to center it */
    width: 100%; /* Maintain full width */
    height: 100%; /* Maintain full height */
    margin-left: 10px; /* Override any existing margin-left for centering */
  }