<form [formGroup]="formulaire" (ngSubmit)="createprofil()">
  <div class="flex flex-col gap-1 p-2 w-full h-[99%] relative">

    <div class="flex justify-between p-1">

      <h1 class="text-[2rem] ml-5 text-[#FF7900] font-bold">Profils</h1>

      <div *ngIf="display==true" class="flex gap-8 mt-2 justify-center items-center">

        <div class="flex gap-3">
          <label class="text-[#009081] mt-2 font-normal text-2xl">
            <ng-container *ngIf="btn=='add'">Nouveau Profil</ng-container>
            <ng-container *ngIf="btn=='update'">Modification Profil</ng-container>
          </label>
          <input formControlName="libelle"
            class="focus:border-[#009081] text-xl shadow-sm shadow-[#242a30] outline-none p-2 focus:ring-1 focus:ring-[#242a30] bg-white rounded-[10px] border-2 border-[#009081]"
            placeholder="saisir le nom du profil" type="text">
        </div>

        <button class="bg-[#FF7900] cursor-pointer text-lg text-center shadow-md shadow-[#242a30] text-white rounded-lg p-1 font-bold w-28 h-10">
          <ng-container *ngIf="btn=='add'">+ Ajouter</ng-container>
          <ng-container *ngIf="btn=='update'">Modifier</ng-container>
        </button>

      </div>

    </div>

    <div class="p-3 w-full h-[100%]">

      <div class="w-[99%] h-[100%] flex flex-1 flex-wrap overflow-y-auto p-10 gap-14">

        <div *ngFor="let item of allprofils"
          class="flex gap-8 justify-center items-center ring-1 ring-[#242a30]
          shadow-md shadow-[#242a30] rounded-md w-[22%] h-[8rem]">

          <div class="text-lg w-16 h-16 rounded-full flex justify-center items-center bg-[#009081] text-white font-bold">
            {{ item.total }}
          </div>

          <div class="flex flex-col gap-5">
            <div class="text-xl text-[#009081] font-bold">
              {{item.libelle}}
            </div>

            <div *ngIf="display==true" class="w-16 h-7 flex gap-2 justify-center items-center">
              <i class="cursor-pointer material-icons text-green-600 "(click)="upProfil(item)">edit</i>
              <i class="cursor-pointer material-icons text-red-600"(click)="deleteProfil(item.id)">delete</i>
            </div>
          </div>

        </div>

      </div>

    </div>



  </div>
</form>
