<div class="w-full h-[38.5rem] p-1 flex gap-1 relative">

  <div class="flex flex-col gap-2 w-[55%] h-[102.6%]">

    <div class="flex justify-between gap-8 p-3 w-full h-[12%]">

      <h1 class="text-[2rem] ml-1 text-[#FF7900] font-bold">Départements</h1>

      <div [formGroup]="select" class="flex gap-2 w-full mt-4">
        <div>
          <select formControlName="direction_id"
            class="bg-white outline-none p-1 h-8 ring-1 ring-[#FF7900] rounded-xl shadow-md shadow-[#242a30] flex text-center">
            <option value="0">filtrer par direction</option>
            @for (direction of directions(); track direction.id) {
              <option [value]="direction.id">{{direction.libelle}}</option>
            }
          </select>
        </div>

        <div>
          <select formControlName="pole_id"
            class="bg-white outline-none p-1 h-8 ring-1 ring-[#FF7900] rounded-xl shadow-md shadow-[#242a30] flex text-center">
            <option value="0">filtrer par pole</option>
            @for (pole of poles(); track pole.id) {
              <option [value]="pole.id">{{pole.libelle}}</option>
            }
          </select>
        </div>
      </div>

    </div>

    <div class="shadow-md shadow-[#242a30] flex flex-col gap-2 rounded-sm w-full h-[90%]">

      <div class="w-[99%] flex flex-1 flex-wrap overflow-y-auto p-6 gap-6">
        @for (departement of departements() | direction:selectedDirect | pole:selectedPole; track departement.id) {
          <div
            class="flex flex-col gap-4 justify-center items-center ring-1 ring-[#242a30] ml-4 shadow-md shadow-[#242a30] rounded-md w-[26%] h-[27%]">

            <div class="text-lg text-[#009081] font-bold">
              {{departement.libelle}}
            </div>

            @if (display2) {
            <div class="w-28 h-7 flex gap-2 justify-center items-center">
              <i (click)="editModal(departement)" class="cursor-pointer material-icons text-green-600">edit</i>
              <i (click)="deleteDepart(departement.id)" class="cursor-pointer material-icons text-red-600">delete</i>
            </div>
          }
          </div>
        }
        @empty {
          <h1 class="text-2xl text-center">Aucun département n'a été trouvé!</h1>
        }

      </div>

      @if (display2) {
      <div class="flex justify-end">
        <span (click)="openModal()" class="cursor-pointer text-[3rem] mr-6 w-[7%] h-[60%] bg-[#FF7900] flex justify-center items-center rounded-full text-white">
          +</span>
      </div>
    }

    </div>

  </div>

  <div class="flex flex-col mt-4 gap-2 w-[65%] h-[100%]">

    <div class="flex gap-8 ml-10 text-[1.8rem]">
      <h1 (click)="selectService()" class="cursor-pointer font-bold"
      [ngClass]="{'one':service}"
      >Services</h1>
      <h1 (click)="selectActivite()" class="cursor-pointer font-bold"
      [ngClass]="{'one':activite}"
      >Activités</h1>
    </div>

    @if(service)
    {
      <div class="flex flex-col p-3 w-full h-[10%]">

        <div [formGroup]="select2" class="flex justify-end gap-6 w-full">
          <select formControlName="departement_id"
            class="bg-white outline-none w-[30%] p-1 h-9 ring-1 ring-[#FF7900] rounded-xl shadow-md shadow-[#242a30] flex text-center">
            <option value="0">filtrer par département</option>
            @for (departement of departements(); track departement.id) {
              <option [value]="departement.id">{{departement.libelle}}</option>
            }
          </select>
          @if (display2) {
          <button (click)="openModal2()"
            class="bg-[#FF7900] w-[15%] cursor-pointer text-lg text-center shadow-md shadow-[#242a30] text-white rounded-lg p-1 font-bold h-9">
            + service
          </button>
        }
        </div>

      </div>

      <div class="shadow-md shadow-[#242a30] rounded-sm flex flex-col h-[90%] w-full overflow-y-auto gap-5 p-1">
        @for (service of services() | departement:selectedDepart; track service.id) {
        <div class="shadow-md ring-1 ring-[#242a30] p-2 shadow-[#242a30] flex gap-2 bg-white w-[100%] h-[12%] rounded-xl">
          <h1 class="text-xl w-[90%] font-semibold">{{service.libelle}}</h1>
          @if (display2) {
          <div class="w-[10%] h-7 flex mt-1 justify-center items-center">
            <i (click)="editModal2(service)" class="material-icons cursor-pointer text-green-400">edit</i>
            <i (click)="deleteServ(service.id)" class="material-icons cursor-pointer text-red-600">delete</i>
          </div>
        }
        </div>
        }
        @empty {
          <h1 class="text-2xl">Aucun service trouvé !</h1>
        }
      </div>
    }

    @if(activite)
    {
        <div class="flex flex-col p-3 w-full h-[10%]">

          <div [formGroup]="select3" class="flex justify-end gap-6 w-full">
            <select formControlName="service_id"
              class="bg-white outline-none w-[30%] p-1 h-9 ring-1 ring-[#FF7900] rounded-xl shadow-md shadow-[#242a30] flex text-center">
              <option value="0">filtrer par service</option>
              @for (service of services(); track service.id) {
                <option [value]="service.id">{{service.libelle}}</option>
              }
            </select>
            @if (display2) {
            <button (click)="openModal3()"
              class="bg-[#FF7900] w-[15%] cursor-pointer text-lg text-center shadow-md shadow-[#242a30] text-white rounded-lg p-1 font-bold h-9">
              <i class="fas fa-plus"></i> activité
            </button>
          }
          </div>

        </div>

        <div class="shadow-md shadow-[#242a30] rounded-sm flex flex-col h-[90%] w-full overflow-y-auto gap-5 p-1">
          @for (activite of activites() | service:selectedServ; track activite.id) {
            <div class="shadow-md ring-1 ring-[#242a30] p-2 shadow-[#242a30] flex gap-2 bg-white w-[100%] h-[12%] rounded-xl">
              <h1 class="text-xl w-[90%] font-semibold">{{activite.libelle}}</h1>
              @if (display2) {
              <div class="w-[10%] h-7 flex mt-1 justify-center items-center">
                <i (click)="editModal3(activite)" class="material-icons cursor-pointer text-green-400">edit</i>
                <i (click)="deleteAct(activite.id)" class="material-icons cursor-pointer text-red-600">delete</i>
              </div>
            }
            </div>
          }
          @empty {
            <h1 class="text-2xl">Aucune activité trouvée</h1>
          }
        </div>
    }

  </div>


  <!--------------------------------------Modal---------------------------------------->


  <div class="z-50 fixed inset-0 bg-gray-900 bg-opacity-75 flex justify-center items-center"
      style="display: none;" id="departement">

    <form [formGroup]="Departement" class="mt-32 bg-white ml-[30rem] w-[45%] h-[65%] flex flex-col gap-2 rounded-[6px] ring-1 ring-[#242a30]">

      <div class="flex justify-between w-full rounded-[6px] h-[15%] bg-[#FF7900]">
        <h1 class="w-[42%] flex justify-center items-center h-12 text-2xl font-semibold text-white">
          {{title}}
        </h1>
        <span (click)="closeModal()"
      class="cursor-pointer w-[5%] h-[10px] text-white text-[22px] font-normal font-['Inter']">
      <i class="fas fa-times"></i>
</span>
      </div>

      <div class="flex flex-col gap-6 h-[85%]">

        <div class="flex flex-col gap-6 p-2">

          <div class="flex flex-col gap-1">
            <label class="font-normal text-xl font-['Inter']">Libellé Département</label>
            <input formControlName="libelle"
              class="focus:border-[#FF7900] outline-none w-[100%] p-2 bg-white rounded-[10px] border-2 border-[#FF7900]"
              placeholder="saisir le nom du département" type="text">
          </div>

          <div class="flex flex-col gap-2">
            <label class="font-normal text-xl font-['Inter']">Direction</label>
            <select formControlName="direction_id"
              class="bg-gray-50 border-2 border-[#FF7900] text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option value=0>choisir une direction</option>
              @for (direction of directions(); track direction.id) {
                <option [value]="direction.id">{{direction.libelle}}</option>
              }
            </select>
          </div>

          <div class="flex flex-col gap-2">
            <label class="font-normal text-xl font-['Inter']">Pole</label>
            <select formControlName="pole_id"
              class="bg-gray-50 border-2 border-[#FF7900] text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option value=0>choisir une pole</option>
              @for (pole of poles(); track pole.id) {
              <option [value]="pole.id">{{pole.libelle}}</option>
              }
            </select>
          </div>

        </div>

        <div class="flex">
          <div (click)="addOrUpDept()"
            class="cursor-pointer ml-6 w-[124px] h-[40px] bg-[#FF7900] rounded-lg flex justify-center items-center text-white text-xl font-semibold">
            {{button}}
          </div>
        </div>

      </div>

    </form>

  </div>

  <div class="z-50 fixed inset-0 bg-gray-900 bg-opacity-75 flex justify-center items-center"
      style="display: none;" id="service">

    <form [formGroup]="Service" class="bg-white mt-32 ml-[30rem] w-[45%] h-[60%] flex flex-col gap-4 rounded-[6px] ring-1 ring-[#242a30]">

      <div class="flex justify-between w-full rounded-[6px] h-[15%] bg-[#FF7900]">
        <h1 class="w-[33%] flex justify-center items-center h-12 text-2xl font-semibold text-white">
          {{title2}}
        </h1>
        <span (click)="closeModal2()"
          class="cursor-pointer w-[5%] h-[10px] text-white text-[22px] font-normal font-['Inter']">
          X
        </span>
      </div>

      <div class="flex flex-col gap-12 m-2 h-[85%]">

        <div class="flex flex-col gap-8 p-4">

          <div class="flex flex-col gap-2">
            <label class="font-normal text-xl font-['Inter']">Libellé Service</label>
            <input formControlName="libelle"
              class="focus:border-[#FF7900] outline-none w-[100%] p-2 bg-white rounded-[10px] border-2 border-[#FF7900]"
              placeholder="saisir le nom du service" type="text">
          </div>

          <div class="flex flex-col gap-2">
            <label class="font-normal text-xl font-['Inter']">Département</label>
            <select formControlName="departement_id"
              class="bg-gray-50 border-2 border-[#FF7900] text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option value=0>choisir un departement</option>
              @for (departement of departements(); track departement.id) {
                <option [value]="departement.id">{{departement.libelle}}</option>
              }
            </select>
          </div>

        </div>

        <div class="flex">
          <div (click)="addOrUpServ()"
            class="cursor-pointer ml-6 w-[124px] h-[40px] bg-[#FF7900] rounded-lg flex justify-center items-center text-white text-xl font-semibold">
            {{button2}}
          </div>
        </div>

      </div>

    </form>

  </div>

  <div class="z-50 fixed inset-0 bg-gray-900 bg-opacity-75 flex justify-center items-center" style="display: none;"
    id="activite">

    <form [formGroup]="Activite" class="bg-white mt-32 ml-[30rem] w-[45%] h-[60%] flex flex-col gap-4 rounded-[6px] ring-1 ring-[#242a30]">

      <div class="flex justify-between w-full rounded-[6px] h-[15%] bg-[#FF7900]">
        <h1 class="w-[33%] flex justify-center items-center h-12 text-2xl font-semibold text-white">
          {{title3}}
        </h1>
        <span (click)="closeModal3()"
          class="cursor-pointer w-[5%] h-[10px] text-white text-[22px] font-normal font-['Inter']">
          X
        </span>
      </div>

      <div class="flex flex-col gap-12 m-2 h-[85%]">

        <div class="flex flex-col gap-8 p-4">

          <div class="flex flex-col gap-2">
            <label class="font-normal text-xl font-['Inter']">Libellé activité</label>
            <input formControlName="libelle"
              class="focus:border-[#FF7900] outline-none w-[100%] p-2 bg-white rounded-[10px] border-2 border-[#FF7900]"
              placeholder="saisir le nom de l'activité" type="text">
          </div>

          <div class="flex flex-col gap-2">
            <label class="font-normal text-xl font-['Inter']">Service</label>
            <select formControlName="service_id"
              class="bg-gray-50 border-2 border-[#FF7900] text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
              <option value="0">choisir un service</option>
              @for (service of services(); track service.id) {
                <option [value]="service.id">{{service.libelle}}</option>
              }
            </select>
          </div>

        </div>

        <div class="flex">
          <div (click)="addOrUpAct()"
            class="cursor-pointer ml-6 w-[124px] h-[40px] bg-[#FF7900] rounded-lg flex justify-center items-center text-white text-xl font-semibold">
            {{button3}}
          </div>
        </div>

      </div>

    </form>

  </div>

</div>
