#crud-modal{
    display: none;
}
.bullet{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50px;
    margin-right: 5xp;
}
.bull{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50px;
    margin-right: 5xp;
}
.bul{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:green;
    border-radius: 50px;
    margin-right: 5xp;
}