<div class="w-full h-[38.5rem] p-1 flex gap-1 relative">

  <div class="flex flex-col gap-2 w-[55%] h-[100%]">

    <div class="flex justify-between p-3 w-full h-[12%]">

      <h1 class="text-[2rem] ml-3 text-[#FF7900] font-bold">Directions</h1>

      <div class="flex justify-center items-center mt-4">
        <button
          class="bg-[#FF7900] cursor-pointer text-lg text-center shadow-md shadow-[#242a30] text-white rounded-lg p-1 font-bold w-28 h-8">
          + direction
        </button>
      </div>

    </div>

    <div class="shadow-md shadow-[#242a30] rounded-sm w-full h-[90%] flex flex-col gap-8">

      <div class="w-[99%] flex flex-1 flex-wrap overflow-y-auto p-6 gap-6">

        <ng-container >
          <div
            class="flex flex-col gap-4 justify-center items-center ring-1 ring-[#242a30] ml-4 shadow-md shadow-[#242a30] rounded-md w-[26%] h-[27%]">

            <div class="cursor-pointer text-lg text-[#009081] font-bold">
              One
            </div>

            <div class="w-28 h-7 flex gap-2 justify-center items-center">
              <i
                class="cursor-pointer material-icons text-green-600">edit</i>
              <i
                class="cursor-pointer material-icons text-red-600">delete</i>
            </div>
          </div>
          <div
            class="flex flex-col gap-4 justify-center items-center ring-1 ring-[#242a30] ml-4 shadow-md shadow-[#242a30] rounded-md w-[26%] h-[27%]">

            <div class="cursor-pointer text-lg text-[#009081] font-bold">
              Two
            </div>

            <div class="w-28 h-7 flex gap-2 justify-center items-center">
              <i class="cursor-pointer material-icons text-green-600">edit</i>
              <i class="cursor-pointer material-icons text-red-600">delete</i>
            </div>
          </div>
          <div
            class="flex flex-col gap-4 justify-center items-center ring-1 ring-[#242a30] ml-4 shadow-md shadow-[#242a30] rounded-md w-[26%] h-[27%]">

            <div class="cursor-pointer text-lg text-[#009081] font-bold">
              Three
            </div>

            <div class="w-28 h-7 flex gap-2 justify-center items-center">
              <i class="cursor-pointer material-icons text-green-600">edit</i>
              <i class="cursor-pointer material-icons text-red-600">delete</i>
            </div>
          </div>
          <div
            class="flex flex-col gap-4 justify-center items-center ring-1 ring-[#242a30] ml-4 shadow-md shadow-[#242a30] rounded-md w-[26%] h-[27%]">

            <div class="cursor-pointer text-lg text-[#009081] font-bold">
              Four
            </div>

            <div class="w-28 h-7 flex gap-2 justify-center items-center">
              <i class="cursor-pointer material-icons text-green-600">edit</i>
              <i class="cursor-pointer material-icons text-red-600">delete</i>
            </div>
          </div>
        </ng-container>

      </div>

    </div>

  </div>

  <div class="flex flex-col gap-2 w-[65%] h-[100%]">

    <div class="flex justify-between p-3 w-full h-[12%]">

      <h1 class="text-[2rem] ml-3 text-[#FF7900] font-bold">Poles</h1>

      <div class="flex justify-between w-[45%] mt-4">
        <select
          class="bg-white w-[55%] outline-none p-1 h-7 ring-1 ring-[#FF7900] rounded-xl shadow-md shadow-[#242a30] flex text-center">
          <option value="0">filtrer par direction</option>
        </select>
        <button
          class="bg-[#FF7900] w-[35%] cursor-pointer text-lg text-center shadow-md shadow-[#242a30] text-white rounded-lg p-1 font-bold h-8">
          + pole
        </button>
      </div>

    </div>

    <div class="shadow-md shadow-[#242a30] rounded-sm flex flex-col h-[90%] w-full overflow-y-auto gap-5 p-1">
      <div class="shadow-md ring-1 ring-[#242a30] p-2 shadow-[#242a30] flex gap-2 bg-white w-[100%] h-[12%] rounded-xl">
        <h1 class="text-xl w-[90%] font-semibold">un</h1>
        <div class="w-[10%] h-7 flex mt-1 justify-center items-center">
          <i class="material-icons cursor-pointer text-yellow-400">info</i>
          <i class="material-icons cursor-pointer text-green-400">edit</i>
          <i class="material-icons cursor-pointer text-red-600">delete</i>
        </div>
      </div>
      <div class="shadow-md ring-1 ring-[#242a30] p-2 shadow-[#242a30] flex gap-2 bg-white w-[100%] h-[12%] rounded-xl">
        <h1 class="text-xl w-[90%] font-semibold">deux</h1>
        <div class="w-[10%] h-7 flex mt-1 justify-center items-center">
          <i class="material-icons cursor-pointer text-yellow-400">info</i>
          <i class="material-icons cursor-pointer text-green-400">edit</i>
          <i class="material-icons cursor-pointer text-red-600">delete</i>
        </div>
      </div>
      <div class="shadow-md ring-1 ring-[#242a30] p-2 shadow-[#242a30] flex gap-2 bg-white w-[100%] h-[12%] rounded-xl">
        <h1 class="text-xl w-[90%] font-semibold">trois</h1>
        <div class="w-[10%] h-7 flex mt-1 justify-center items-center">
          <i class="material-icons cursor-pointer text-yellow-400">info</i>
          <i class="material-icons cursor-pointer text-green-400">edit</i>
          <i class="material-icons cursor-pointer text-red-600">delete</i>
        </div>
      </div>
    </div>

  </div>


  <!--------------------------------------Modal---------------------------------------->


  <div class="absolute inset-0 z-50 w-[99.8%] h-[99.5%] bg-black bg-opacity-25" style="display: none;" id="entite">

    <form
      class="bg-white mt-10 ml-80 w-[50%] h-[72%] flex flex-col gap-4 rounded-[6px] ring-1 ring-[#242a30]">

      <div class="flex h-[20%] gap-44 bg-[#FF7900]">
        <h1
          class="w-[40%] flex justify-center items-center underline ml-44 h-12 font-semibold text-white text-2xl font-['Inter'] whitespace-nowrap">
          Ajout
        </h1>
        <div
          class="cursor-pointer w-[10px] h-[10px] text-white text-[22px] font-normal font-['Inter']">
          X
        </div>
      </div>

      <div class="flex flex-col gap-12 m-2 h-[85%]">

        <div class="flex flex-col gap-8 p-4">

          <div class="flex flex-col gap-2">
            <label class=" font-normal text-xl font-['Inter']">Libellé Entité</label>
            <input
              class="focus:border-[#009081] outline-none w-[100%] p-2 focus:ring-1 focus:ring-[#242a30] bg-white rounded-[10px] border-2 border-[#FF7900]"
              placeholder="saisir le nom de le libellé" type="text" id="input1" name="input1">
          </div>

          <div class="flex flex-col gap-2">
            <label class=" font-normal text-xl font-['Inter']">SIGLE</label>
            <input
              class="focus:border-[#009081] outline-none w-[100%] p-2 focus:ring-1 focus:ring-[#242a30] bg-white rounded-[10px] border-2 border-[#FF7900]"
              placeholder="saisir le sigle" type="text" id="input1" name="input1">
          </div>

        </div>

        <div class="flex justify-center items-center">
          <div
            class="cursor-pointer w-[124px] h-[40px] bg-[#FF7900] rounded-lg flex justify-center items-center text-white text-xl font-semibold">
            Ajouter
          </div>
        </div>

      </div>

    </form>

  </div>

  <div class="absolute inset-0 z-50 w-[99.5%] h-[99%] bg-black bg-opacity-25" style="display: none;" id="indic">

    <form
      class="bg-white mt-10 ml-80 w-[50%] h-[90%] flex flex-col gap-2 rounded-[6px] ring-1 ring-[#242a30]">

      <div class="flex gap-36 w-full h-[20%] bg-[#FF7900]">
        <h1
          class="w-[40%] flex justify-center items-center underline ml-52 h-12 font-semibold text-white text-[1.8rem] whitespace-nowrap">
          Add
        </h1>
        <div
          class="cursor-pointer w-[10px] h-[10px] text-white text-[22px] font-normal font-['Inter']">
          X
        </div>
      </div>

      <div class="flex flex-col gap-6 m-2 h-[85%]">

        <div class="flex flex-col gap-6 p-3">
          <div class="flex flex-col gap-2">
            <label class=" font-normal text-xl font-['Inter']">Libellé</label>
            <input
              class="focus:border-[#009081] outline-none w-[100%] p-2 focus:ring-1 focus:ring-[#242a30] bg-white rounded-[10px] border-2 border-[#FF7900]"
              placeholder="saisir le nom de l'indicateur" type="text" id="input1" name="input1">
          </div>
          <div class="flex flex-col gap-2">
            <label class=" text-xl font-normal font-['Inter']">Formule</label>
            <textarea
              class="focus:border-[#009081] outline-none w-[100%] h-48 p-2 focus:ring-1 focus:ring-[#242a30] bg-white rounded-[10px] border-2 border-[#FF7900]"
              placeholder="Veuillez renseignez la formule de calcul de l'indiacteur..." id="comment-input"
              name="comment-input" rows="4" cols="50"></textarea>
          </div>
        </div>

        <div class="w-full flex justify-center items-center h-[40px] ">
          <div
            class="cursor-pointer w-[22%] text-center bg-[#FF7900] rounded-[10px] h-[100%] text-white text-[25px] font-normal font-['Inter']">
            Ajouter
          </div>
        </div>
      </div>

    </form>

  </div>

  <div class="absolute inset-0 z-50 w-[99.5%] h-[99%] bg-black bg-opacity-25" style="display: none;" id="ind">

    <form
      class="bg-white mt-10 ml-80 w-[50%] h-[90%] flex flex-col gap-2 rounded-[6px] ring-1 ring-[#242a30]">

      <div class="flex gap-36 w-full h-[20%] bg-[#009081]">
        <h1
          class="w-[40%] flex justify-center items-center underline ml-52 h-12 font-semibold text-white text-[1.8rem] whitespace-nowrap">
          Informations Indicateur
        </h1>
        <div
          class="cursor-pointer w-[10px] h-[10px] text-red-600 text-[22px] font-normal font-['Inter']">
          X
        </div>
      </div>

      <div class="flex flex-col gap-6 m-2 h-[85%]">

        <div class="flex flex-col gap-6 p-3">
          <div class="flex flex-col gap-2">
            <label class="text-[#009081] font-normal text-xl font-['Inter']">Libellé</label>
            <input
              class="focus:border-[#009081] outline-none w-[100%] p-2 focus:ring-1 focus:ring-[#242a30] bg-white rounded-[10px] border-2 border-[#009081]"
              placeholder="saisir le nom de l'indicateur" type="text" id="input1" name="input1">
          </div>
          <div class="flex flex-col gap-2">
            <label class="text-[#009081] text-xl font-normal font-['Inter']">Formule</label>
            <textarea
              class="focus:border-[#009081] outline-none w-[100%] h-48 p-2 focus:ring-1 focus:ring-[#242a30] bg-white rounded-[10px] border-2 border-[#009081]"
              placeholder="Veuillez renseignez la formule de calcul de l'indiacteur..." id="comment-input"
              name="comment-input" rows="4" cols="50"></textarea>
          </div>
        </div>

        <div class="w-full flex justify-center items-center h-[40px] ">
          <div
            class="cursor-pointer w-[22%] text-center bg-[#FF7900] rounded-[10px] h-[100%] text-white text-[25px] font-normal font-['Inter']">
            Fermer
          </div>
        </div>
      </div>

    </form>

  </div>


</div>
